.CssName {
	FONT-FAMILY: [¿E²n][?¥Õ]
}
TABLE {
	WORD-BREAK: break-all; BORDER-COLLAPSE: collapse; empty-cells: show
}
HR {
	COLOR: #00274f
}
A:hover {
	COLOR: #ee0000; TEXT-DECORATION: none
}
A {
	COLOR: #00274f; TEXT-DECORATION: none
}
BODY {
	BACKGROUND-POSITION: center 50%; SCROLLBAR-FACE-COLOR: #dee3e7; BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/bg_body.gif); SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; COLOR: #00274f; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: Arial; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: #f1f1f1
}
.ToolMemu {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/blo.gif); VERTICAL-ALIGN: text-bottom; FONT-FAMILY: Arial; HEIGHT: 27px; TEXT-ALIGN: center
}
.Content {
	FONT-SIZE: 14px; COLOR: #00274f; LINE-HEIGHT: 1.4; FONT-FAMILY: Arial; LETTER-SPACING: 2px
}
.DateHead {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; CURSOR: hand; COLOR: #666666; FONT-FAMILY: Arial; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.DateTodayCell {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #766b76; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d9d2d7; TEXT-ALIGN: center
}
.DateCell {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #766b76; FONT-FAMILY: Arial; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.DateWeekendCell {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #795172; FONT-FAMILY: Arial; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.DateSpecialCell {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #766b76; FONT-FAMILY: Arial; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.DateBorder {
	BACKGROUND-COLOR: #c0c0c0
}
.Head {
	FONT-SIZE: 15px; COLOR: #666666; FONT-FAMILY: Arial; HEIGHT: auto; TEXT-ALIGN: center
}
.HeadBg {
	BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/Bg_Head.jpg)
}
.InputBorder {
	BORDER-RIGHT: #2d9bff 1px solid; BORDER-TOP: #2d9bff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2d9bff 1px solid; COLOR: #00274f; BORDER-BOTTOM: #2d9bff 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
.Button {
	BORDER-RIGHT: #2d9bff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #2d9bff 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #2d9bff 1px solid; COLOR: #00274f; PADDING-TOP: 1px; BORDER-BOTTOM: #2d9bff 1px solid; FONT-FAMILY: Arial; HEIGHT: 18px; BACKGROUND-COLOR: #eaf5ff
}
.NeckBg {
	BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/bg_neck.jpg)
}
.Remark {
	FONT-SIZE: 10px; COLOR: #00274f; LINE-HEIGHT: 220%; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.Small {
	FONT-SIZE: 8px; COLOR: #00274f; FONT-FAMILY: Arial
}
.TopBg {
	BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/Bg_Top.jpg)
}
.ToolBar {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/Bg_Tool.gif); VERTICAL-ALIGN: middle; COLOR: #00274f; FONT-FAMILY: Arial; HEIGHT: 23px; TEXT-ALIGN: center
}
.BlkBar {
	FONT-SIZE: 13px; BACKGROUND-IMAGE: url(http://61.151.248.109/blog/skins/model6/Bg_Blk.gif); COLOR: #00274f; LINE-HEIGHT: 20px; FONT-FAMILY: Arial; LETTER-SPACING: 5px
}
.Tool {
	FONT-SIZE: 11px; COLOR: #00274f; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.Ex {
	
}
.ToolLight {
	FONT-SIZE: 11px; COLOR: #c0c0c0; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.Tool13 {
	FONT-SIZE: 13px; COLOR: #00274f; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.ToolBg {
	FONT-SIZE: 11px; COLOR: #00274f; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #eaf5ff
}
.Title {
	COLOR: #00274f; LINE-HEIGHT: 21px; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.TitleFrame {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 15px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; COLOR: #00274f; LINE-HEIGHT: 21px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 2px solid; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #eaf5ff; TEXT-ALIGN: center
}
.TableLight {
	FONT-SIZE: 11px; COLOR: #00274f; LINE-HEIGHT: 23px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #fafbfc; TEXT-ALIGN: center
}
.TableSide {
	FONT-SIZE: 11px; COLOR: #00274f; LINE-HEIGHT: 23px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #ffffff
}
.TableDark {
	FONT-SIZE: 11px; COLOR: #00274f; LINE-HEIGHT: 23px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #eaf5ff; TEXT-ALIGN: center
}
.TableHead {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00274f; LINE-HEIGHT: 23px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; BACKGROUND-COLOR: #e6f2ff; TEXT-ALIGN: center
}
.TableSplit {
	BACKGROUND-COLOR: #ffffff
}
.Wingdings {
	FONT-SIZE: 20px; COLOR: #00274f; FONT-FAMILY: Wingdings
}
.Wingdings2 {
	FONT-SIZE: 20px; COLOR: #00274f; FONT-FAMILY: Wingdings 2
}
.Wingdings3 {
	FONT-SIZE: 20px; COLOR: #00274f; FONT-FAMILY: Wingdings 3
}
.Webdings {
	FONT-SIZE: 20px; COLOR: #00274f; FONT-FAMILY: Webdings
}
